<a href="https://colab.research.google.com/github/gunjuwasiu2021/Hamoye-Data-Science-Internship-Winter-2022/blob/main/Introduction%20to%20Python%20for%20Machine%20Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
firstname = "Abdulwasiu"
lastname = "Olagunju"
fullname = firstname + " " + lastname
print(fullname)

Abdulwasiu Olagunju

In [ ]:
firstname = "Abdulwasiu"
lastname = "Olagunju"
print("My name is {} {}".format(firstname, lastname ))

My name is Abdulwasiu Olagunju

In [ ]:
firstname = "Abdulwasiu"
lastname = "Olagunju"
print(f"My name is {firstname} {lastname}")

My name is Abdulwasiu Olagunju

In [ ]:
firstname = "adewale"
lastname = "ABIODUN"
print(firstname.title())
print(firstname.upper())
print(lastname.lower())
print(firstname[0:3])

Adewale
ADEWALE
abiodun
ade

In [ ]:
firstname = "Abdulwasiu"
lastname = "Olagunju"
firstname.isalnum()

True

In [ ]:
lastname = "Olagunju"
lastname.isdecimal()

False

In [ ]:
firstname = "Abdulwasiu"
lastname = "Olagunju"
lastname = lastname.lstrip("O")
print(lastname.capitalize())

Lagunju

In [ ]:
father = "Daddy"
father = father.lstrip("D")
print(father)

addy

In [ ]:
father = "Daddy"
father = father.rstrip("y")
print(father)

Dadd

In [ ]:
father = "Daddy"
father = father.strip("Dy")
print(father)

add

In [ ]:
x = 20
y = 10
if x > y:
  print("x is greater than y")

x is greater than y

In [ ]:
x = 20
y = 10
if x < y:
  print("x is less than y")
else:
  print("y is less than x")

y is less than x

In [ ]:
x = 10
y = 10
if x > y:
  print("x is greater than y")
elif x == y:
  print("x is equal to y")
else:
  print("y is greater than x")

x is equal to y

In [ ]:
students = ["Ade", "Computer Science", 25]
print(students)
students[2] = 28
print(students)

['Ade', 'Computer Science', 25]
['Ade', 'Computer Science', 28]

In [ ]:
list1 = ["Ade", "Computer Science", 25, [300, "tall"]]
print(list1)
list2 = list1[3]
print(list2)

['Ade', 'Computer Science', 25, [300, 'tall']]
[300, 'tall']

In [ ]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursdays', 'Friday']
print(weekdays)
weekdays.append('Saturday')
print(weekdays)

['Monday', 'Tuesday', 'Wednesday', 'Thursdays', 'Friday']
['Monday', 'Tuesday', 'Wednesday', 'Thursdays', 'Friday', 'Saturday']

In [ ]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursdays', 'Friday']
print(weekdays)
weekdays.extend(['Saturday', 'Sunday'])
print(weekdays)

['Monday', 'Tuesday', 'Wednesday', 'Thursdays', 'Friday']
['Monday', 'Tuesday', 'Wednesday', 'Thursdays', 'Friday', 'Saturday', 'Sunday']

In [ ]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursdays', 'Friday']
print(weekdays.index('Monday'))
print(weekdays)

0
['Monday', 'Tuesday', 'Wednesday', 'Thursdays', 'Friday']

In [ ]:
week = ('Mon', 'Tue', 'Wed')
week1 = tuple(['Thu', 'Fri'])
week2 = week + week1
print(week)
print(week1)
print(week2)
print('Fri' in week2)
print('Sat' in week2)

('Mon', 'Tue', 'Wed')
('Thu', 'Fri')
('Mon', 'Tue', 'Wed', 'Thu', 'Fri')
True
False

In [ ]:
colors = {'red', 'green', 'blue'}
colors1 = {'red' 'green', 'blue', 'white', 'black', 'red', 'blue'}
colors_list = list(colors1)
rainbow = set(['red', 'orange', 'yellow','green', 'blue', 'indigo', 'violet' ])
print (colors)
print(colors1)
print(colors_list)
print(rainbow)

{'green', 'red', 'blue'}
{'red', 'blue', 'redgreen', 'white', 'black'}
['red', 'blue', 'redgreen', 'white', 'black']
{'violet', 'red', 'blue', 'orange', 'indigo', 'green', 'yellow'}

In [ ]:
rainbow = set(['red', 'orange', 'yellow','green', 'blue', 'indigo', 'violet' ])
print(rainbow.remove('orange'))
print(rainbow.discard('violet'))
print(rainbow)

None
None
{'red', 'blue', 'indigo', 'green', 'yellow'}

In [ ]:
rainbow = set(['red', 'orange', 'yellow','green', 'blue', 'indigo', 'violet' ])
print(rainbow.add('white'))
print(rainbow)
print("Size of the set = " + str(len(rainbow))) #Only strings can be concatenated

None
{'violet', 'red', 'blue', 'orange', 'indigo', 'green', 'yellow', 'white'}
Size of the set = 8

Set Union

In [ ]:
set_a = {'red', 'orange', 'yellow','green'}
set_b = {'blue', 'indigo', 'violet' }
#set_c = (set_a | set_b)
set_c = (set_a.union(set_b)) # alternative
print(set_a)
print(set_b)
print(set_c)

{'green', 'red', 'yellow', 'orange'}
{'violet', 'blue', 'indigo'}
{'green', 'yellow', 'blue', 'violet', 'indigo', 'red', 'orange'}

Set Intersection

In [ ]:
set_1 = {'red', 'orange', 'yellow','green', 'pink'}
set_2 = {'blue', 'indigo', 'violet', 'pink'}
#set_3 = (set_1 & set_2)
set_3 = (set_1.union(set_2)) # alternative
print(set_1)
print(set_2)
print(set_3)

{'red', 'orange', 'green', 'yellow', 'pink'}
{'pink', 'violet', 'blue', 'indigo'}
{'violet', 'red', 'orange', 'blue', 'indigo', 'green', 'yellow', 'pink'}

Set Difference

In [ ]:
rainbow_1 = {'red', 'orange', 'yellow','green', 'pink'}
rainbow_2 = {'blue', 'indigo', 'violet', 'pink'}
#rainbow_3 = (rainbow_1 - rainbow_2)
rainbow_3 = (rainbow_1.difference(rainbow_2)) # alternative
print(rainbow_1)
print(rainbow_2)
print(rainbow_3)

{'red', 'orange', 'green', 'yellow', 'pink'}
{'pink', 'violet', 'blue', 'indigo'}
{'green', 'red', 'yellow', 'orange'}

Set Symmetric Difference

In [ ]:
rainbow_1 = {'red', 'orange', 'yellow','green', 'pink'}
rainbow_2 = {'blue', 'indigo', 'violet', 'pink'}
#rainbow_3 = (rainbow_1 ^ rainbow_2)
rainbow_3 = (rainbow_1.symmetric_difference(rainbow_2)) # alternative
print(rainbow_1)
print(rainbow_2)
print(rainbow_3)

{'red', 'orange', 'green', 'yellow', 'pink'}
{'pink', 'violet', 'blue', 'indigo'}
{'violet', 'red', 'blue', 'indigo', 'orange', 'green', 'yellow'}

Intersection Update

In [ ]:
rainbow_1 = {'red', 'orange', 'yellow','green', 'pink'}
rainbow_2 = {'blue', 'indigo', 'violet', 'pink'}
rainbow_3 = (rainbow_1.intersection_update(rainbow_2)) # alternative
print(rainbow_1)
print(rainbow_2)
print(rainbow_3)

{'pink'}
{'pink', 'violet', 'blue', 'indigo'}
None

Difference Update

In [ ]:
rainbow_1 = {'red', 'orange', 'yellow','green', 'pink'}
rainbow_2 = {'blue', 'indigo', 'violet', 'pink'}
(rainbow_1.difference_update(rainbow_2))
print(rainbow_1)
print(rainbow_2)

{'red', 'orange', 'green', 'yellow'}
{'pink', 'violet', 'blue', 'indigo'}

Symmetric Difference Update

In [ ]:
rainbow_1 = {'red', 'orange', 'yellow','green', 'pink'}
rainbow_2 = {'blue', 'indigo', 'violet', 'pink'}
(rainbow_1.symmetric_difference_update(rainbow_2))
print(rainbow_1)
print(rainbow_2)

{'violet', 'red', 'orange', 'blue', 'indigo', 'green', 'yellow'}
{'pink', 'violet', 'blue', 'indigo'}

Dictionary

In [ ]:
dico = {'name': 'Wasiu', 'age': 35, 'status':'Staff', 'designation': 'Technologist'}
print(dico)
key = ['name', 'age', 'status', 'designation']
value = ['Adam', '40', 'Staff', 'Lecturer']
dico1 = dict(zip(key, value))
print(dico1)

{'name': 'Wasiu', 'age': 35, 'status': 'Staff', 'designation': 'Technologist'}
{'name': 'Adam', 'age': '40', 'status': 'Staff', 'designation': 'Lecturer'}

Access Dictionary Items

In [ ]:
dico = {'name': 'Wasiu', 'age': 35, 'status':'Staff', 'designation': 'Technologist'}
print(dico['name'])
#print(dico['gender']) Accessing item that's not in the dictionary will give Key Error

Wasiu

Access Dictionary Items with get() method to avoid Key Error when Item Accessing is not found

In [ ]:
dico = {'name': 'Wasiu', 'age': 35, 'status':'Staff', 'designation': 'Technologist'}
print(dico.get('name')) #When item is there
print(dico.get('gender')) #When item is there

Wasiu
None

Add or Update Dictionary Items.

In [ ]:
dico = {'name': 'Wasiu', 'age': 35, 'status':'Staff', 'designation': 'Technologist'}
dico['designation'] = 'Lecturer' #This is when key already exist but want to update its value
print(dico)
dico['gender'] = 'Male' #This is for adding new key and value
print(dico)

{'name': 'Wasiu', 'age': 35, 'status': 'Staff', 'designation': 'Lecturer'}
{'name': 'Wasiu', 'age': 35, 'status': 'Staff', 'designation': 'Lecturer', 'gender': 'Male'}

Merge Two Dictionaries with update() method. The method blindly overwrite the value of key that are clashed

In [ ]:
dico = {'name': 'Wasiu', 'age': 35, 'status': 'Staff', 'designation': 'Technologist', 'gender': 'Male', 'office_no': 'Lab 209'}
dico1 = {'name': 'Adam', 'age': '40', 'status': 'Staff', 'designation': 'Lecturer', 'employment_date': 2015}
dico.update(dico1)
print(dico)

{'name': 'Adam', 'age': '40', 'status': 'Staff', 'designation': 'Lecturer', 'gender': 'Male', 'office_no': 'Lab 209', 'employment_date': 2015}

Dictionary Items with pop method or del command

In [ ]:
dico1 = {'name': 'Adam', 'age': '40', 'status': 'Staff', 'designation': 'Lecturer', 'employment_date': 2015}
rem_val = dico1.pop('employment_date') #With pop method we can get the value of deleted key
print(dico1)
print(rem_val)

{'name': 'Adam', 'age': '40', 'status': 'Staff', 'designation': 'Lecturer'}
2015

In [ ]:
dico1 = {'name': 'Adam', 'age': '40', 'status': 'Staff', 'designation': 'Lecturer', 'employment_date': 2015}
del dico1['employment_date']
print(dico1)

{'name': 'Adam', 'age': '40', 'status': 'Staff', 'designation': 'Lecturer'}

Deleting Complete Dictyionary

In [ ]:
dico1 = {'name': 'Adam', 'age': '40', 'status': 'Staff', 'designation': 'Lecturer', 'employment_date': 2015}
(dico1).clear()
print(dico1)

{}

While Loop

In [ ]:
x = 10
while x >= 0:
  print(x)
  x-=1

10
9
8
7
6
5
4
3
2
1
0

Break Statement

In [ ]:
x = 0
n = 10
while x < n:
  print(x)
  if x == 4:
    break
  x+=1

0
1
2
3
4

Continue Statement

In [ ]:
n = 10
while n > 0:
  n-=1 
  if n % 2 == 0:
    continue
  print(n)

9
7
5
3
1

In [ ]:
n = 0
while n < 10:
  n += 1
  if n % 2 == 1:
    continue
  print(n)

2
4
6
8
10

Function without argument

In [ ]:
def hello_world():
  print('Hello World! This is a Python function demo')

hello_world()

Hello World! This is a Python function demo

Function with one argument

In [ ]:
def hello_world1(name):
  print('Hello ', name)

hello_world1('Adam')

Hello  Adam

Function with two argument (Positional Arguments: Order is important)

In [ ]:
def greeting(name, greet):
  print('Hello!', name, greet)

greeting('Adam', 'How are you?')

Hello! Adam How are you?

Keywords Argument: Order is of no importance

In [ ]:
def status(name, job):
  print(name,'is a',job,)

status(job='Lecturer', name='Adam')

Adam is a Lecturer

Default Argument: It allows you to make selected arguments optional

In [ ]:
def status(job, name='Adam'):
  print(name,'is a',job)

status('Programmer','Wasiu')
status('Lecturer')

Wasiu is a Programmer
Adam is a Lecturer

Variable Length Positional Arguments: *args

In [ ]:
def body_parts(*args):
  print(args)

body_parts('head','eyes','nose','ear','mouth')

('head', 'eyes', 'nose', 'ear', 'mouth')

Variable Length Keywords Arguments: **kwargs

In [ ]:
def body_parts(**kwargs):
  print(kwargs)

body_parts(ori='head',oju='eyes',imu='nose',eti='ear',enu='mouth')

{'ori': 'head', 'oju': 'eyes', 'imu': 'nose', 'eti': 'ear', 'enu': 'mouth'}

Return Value

In [ ]:
def add(a,b):
  return(a+b)

x = add(5,10)
print(x)

15

Return Multiple Values

In [ ]:
def mul_div(a, b):
  return(a * b, a / b)

results = mul_div(20, 5)
print(results)

(100, 4.0)

Docstrings

In [ ]:
def hello():
  """This function prints
  messages on the screen."""
  print('Hello World!')

help(hello)

Help on function hello in module __main__:

hello()
    This function prints
    messages on the screen.

Creating a Class

In [ ]:
class Car:
  pass
#The pass indicates the class is an empty class

The __init__() Method

In [ ]:
class Car:
  def __init__(self):
      pass
#The self parameter refers to the individual object itself and it is used to fetch or set attributes of the particular instance

Instance Attributes: Unique for each instance

In [ ]:
# A class with teo instance attributes
class Car:
  def __init__(self, color, style):
    self.color = color
    self.style = style

Class Attribute: General for all instances

In [ ]:
class Car:
  # class attribute
  wheel = 4
  # initializer with instant attributes
  def __init__(self, color, style):
    self.color =color
    self.style = style

Creating an Object: Instance of a class

In [ ]:
class Car:
  wheel = 4
  def __init__(self, color, style):
    self.color =color
    self.style = style

toyota = Car('Grey', 'Camry')

Accessing and Modifying c

In [ ]:
class Car:
  # class attribute
  wheel = 4
  # initializer with instant attributes
  def __init__(self, color, style):
    self.color = color
    self.style = style


toyota = Car('Grey','Camry')

# Access attributes
print(toyota.color)
print(toyota.style)

# Modify attributes
toyota.style = 'Corola'

print(toyota.style)

Grey
Camry
Corola

Class Methods

In [ ]:
class Car:
  # class attribute
  wheel = 4
  # initializer with instant attributes
  def __init__(self, color, style):
    self.color = color
    self.style = style
  
  # Define method 1
  def showDescription(self):
    print('This car is a', self.color, self.style)

  def changeColor(self, color):
    self.color = color

toyota = Car('Black','Siena')

# call method 1
toyota.showDescription()

# call method 2
toyota.changeColor(color = 'Blue')
toyota.showDescription()

This car is a Black Siena
This car is a Blue Siena

In [ ]:
class Car:
  # class attribute
  wheel = 4
  # initializer with instant attributes
  def __init__(self, color, style):
    self.color = color
    self.style = style
  
  # Define method 1
  def showDescription(self):
    print('This car is a', self.color, self.style)

  # define method 2
  def changeColor(self, color):
    self.color = color

toyota = Car('Black','Siena')

# call method 1
toyota.showDescription()

# call method 2
toyota.changeColor(color = 'Blue')
toyota.showDescription()

# del toyota.color
#toyota.showDescription()

This car is a Black Siena
This car is a Blue Siena

Modules

In [2]:
def square(x):
  result = x*x
  return result

square(3)

9

Importing a Module: Importing the entire module (Method 1)

In [5]:
import math
print(math.sqrt(16))
print(math.pow(2,3))

4.0
8.0

Importing a Module: Importing a specific function from a module (Method 2)

In [6]:
from math import sqrt, pow
print(sqrt(81))
print(pow(4,2))

9.0
16.0